<div class="menu">
    <ul>
        <li>
            <a href="{{ url_for('d_main.index') }}">/dashboard</a>
        </li>
        <li>
            <a href="{{ url_for('d_entry.index') }}">/entry/index</a>
        </li>
        <li>
            <a href="{{ url_for('d_entry.create') }}">/entry/create</a>
        </li>
        <li>
            <a href="{{ url_for('d_page.index') }}">/page/index</a>
        </li>
        <li>
            <a href="{{ url_for('d_page.create') }}">/page/create</a>
        </li>
        <li>
            <a href="{{ url_for('auth.logout') }}">/logout</a>
        </li>
    </ul>
</div>
