{% extends 'assets/dashboard_base.html' %}

{% block content %}
<h1 id="welcome">{{ title }}</h1>

<br />
<form action="" method="POST">
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for category, message in messages %}
                {{ message }}
                <br>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {{ form.hidden_tag() }}
    --> {{ form.title.label() }}
    {{ form.title() }}
    --> {{ form.slug.label() }}
    {{ form.slug() }}
    --> {{ form.content.label() }}
    {{ form.content() }}
    {{ form.submit() }}
</form>
{% endblock %}
